.q-grid {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.q-cell-auto {
    box-sizing: border-box;
    flex: 0 0 auto;
    max-width: 100%;
}

.q-cell-5 {
    box-sizing: border-box;
    flex: 0 0 5%;
    max-width: 5%;
}

.q-cell-10 {
    box-sizing: border-box;
    flex: 0 0 10%;
    max-width: 10%;
}

.q-cell-15 {
    box-sizing: border-box;
    flex: 0 0 15%;
    max-width: 15%;
}

.q-cell-20 {
    box-sizing: border-box;
    flex: 0 0 20%;
    max-width: 20%;
}

.q-cell-25 {
    box-sizing: border-box;
    flex: 0 0 25%;
    max-width: 25%;
}

.q-cell-30 {
    box-sizing: border-box;
    flex: 0 0 30%;
    max-width: 30%;
}

.q-cell-33 {
    box-sizing: border-box;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.q-cell-35 {
    box-sizing: border-box;
    flex: 0 0 35%;
    max-width: 35%;
}

.q-cell-40 {
    box-sizing: border-box;
    flex: 0 0 40%;
    max-width: 40%;
}

.q-cell-45 {
    box-sizing: border-box;
    flex: 0 0 45%;
    max-width: 45%;
}

.q-cell-50 {
    box-sizing: border-box;
    flex: 0 0 50%;
    max-width: 50%;
}

.q-cell-55 {
    box-sizing: border-box;
    flex: 0 0 55%;
    max-width: 55%;
}

.q-cell-60 {
    box-sizing: border-box;
    flex: 0 0 60%;
    max-width: 60%;
}

.q-cell-65 {
    box-sizing: border-box;
    flex: 0 0 65%;
    max-width: 65%;
}

.q-cell-70 {
    box-sizing: border-box;
    flex: 0 0 70%;
    max-width: 70%;
}

.q-cell-75 {
    box-sizing: border-box;
    flex: 0 0 75%;
    max-width: 75%;
}

.q-cell-80 {
    box-sizing: border-box;
    flex: 0 0 80%;
    max-width: 80%;
}

.q-cell-85 {
    box-sizing: border-box;
    flex: 0 0 85%;
    max-width: 85%;
}

.q-cell-90 {
    box-sizing: border-box;
    flex: 0 0 90%;
    max-width: 90%;
}

.q-cell-95 {
    box-sizing: border-box;
    flex: 0 0 95%;
    max-width: 95%;
}

.q-cell-100, .q-cell-1 {
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;
}

.custom-middle {
    align-items: center;
}

.custom-stretch {
    display: flex;
    align-items: stretch;
}